/*
 * This is where you input your configuration parameters. 
 * Remember to rename the file to secrets.h when you are done.
 */

const char* ssid = "******";
const char* password =  "******";
const char* mqttServer = "******";
const int mqttPort = 1883;
const char* mqttUser = "******";
const char* mqttPassword = "******";
char mqtt_topic[40] = "kamstrup";
char conf_key[33] = "******";
char conf_authkey[33] = "******";
